# Netlify Local Environment Variables
# Copy this file to .env and fill in your values

GDRIVE_CLIENT_ID=your_id
GDRIVE_CLIENT_SECRET=your_secret
GITHUB_CLIENT_ID=your_id
GITHUB_CLIENT_SECRET=your_secret
GITHUB_PAT=your_pat
REPO_OWNER=AhmedConan1915
REPO_NAME=utube2drive
SITE_URL=http://localhost:8888
